<footer>
   <div class="f-info">
    <div class="f-info-social nab">
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-facebook-messenger"></i>
        <i class="fa-brands fa-linkedin"></i>
    </div>
    <div class="f-info-brand nab"> &copy; WonderLust Privat Limited</div>
    <div class="f-info-links nab">
        <a href="/privacy">Privacy</a>
        <a href="/terms">Terms</a>
    </div>
   </div>
</footer>