<% layout("/layouts/boilerplate") %>

<body>
  
<div class="row row-col-lg-3">
  <% for( mess of allmess) { %>
   
    <div class="card" style="width: 20rem;">
      <a href="/mess/<%= mess.id %>" class="cards-link">
        <img src="<%= mess.image.url %>" class="card-img-top" alt="Listin_image "style="height: 20rem;">
        <!-- this is the overlay property of bootstrap -->
        <div class="card-img-overlay"></div> 
        <div class="card-body">
          <p class="card-text">
           <b> <%= mess.title %></b> <br>
          
            &#8377; <%= mess.price.toLocaleString("en-IN") %>/month
          </p>
        </div>
      </a>
      </div>
  
    <% } %>
</div>
  
</body>